:root {
    --cor-fundo: hsl(0, 100%, 74%);
    --cor-button-cadastro: hsl(154, 59%, 51%);
    --cor-button-teste: hsl(248, 32%, 49%);
}

html, body {
    max-width: 1440px;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: url('images/bg-intro-desktop.png');
    background-color: var(--cor-fundo);
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.container {
    display: flex;
    width: 940px;
    margin: 10em auto;
}

.sobre {
    width: 55%;
    margin: auto;
}

.titulo-principal {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 0 1em;
}

.titulo-principal span {
    display: block;
}

.formulario {
    width: 45%;
    box-shadow: 0 5px 0 0 rgba(83, 80, 80, 0.3);
    border-radius: 7px;
}

.button-teste {
    background-color: var(--cor-button-teste);
    width: 100%;
    margin: 0 0 1em;
    box-shadow: 0 5px 0 0 rgba(83, 80, 80, 0.3);
}

.button-teste span {
    font-weight: 500;
    color: #CCCCCC;
}

.button-cadastro {
    display: block;
    background-color: var(--cor-button-cadastro);
    text-transform: uppercase;
    width: 83%;
    margin: 0 auto;
}

.button-teste, .button-cadastro {
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 7px;
    padding: 15px 50px;
}

.cadastro {
    width: 100%;
    background-color: #FFFFFF;
    padding: 2em 0 2em;
    border-radius: 7px;
}

.input-padrao {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px 0 10px 10px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}

.termos {
    display: block;
    font-weight: 200;
    color: #a5a4a4;
    font-size: 8px;
    width: 70%;
    margin: 10px auto;
}

.termos a {
    color: #d15050;
    font-weight: bold;
    text-decoration: none;
}

::placeholder {
    font-weight: 500;
    font-size: 13px;
}

@media screen and (max-width: 950px) {

    .container {
        display: block;
        width: auto;
        margin: 0 1em;
    }

    .sobre {
        width: auto;
        text-align: center;
        margin: 6em 0 4em;
    }

    .sobre p {
        font-weight: 400;
        line-height: 1.5em;
    }

    .titulo-principal {
        font-size: 1.7em;
    }

    .formulario {
        width: auto;
    }
}

@media screen and (max-width: 420px) {
    
    .termos {
        text-align: center;
    }

    .termos a {
        display: block;
    }
}