:root {
    --cor-fundo: hsl(0, 100%, 74%);
    --cor-button-cadastro: hsl(154, 59%, 51%);
    --cor-button-teste: hsl(248, 32%, 49%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/bg-intro-desktop.png');
    background-color: var(--cor-fundo);
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.container {
    display: flex;
    max-width: 1440px;
    margin: 12em auto;
}

.sobre {
    width: 35%;
    margin: auto;
}

.sobre p {
    line-height: 1.5em;
    font-weight: 500;
}

.titulo-principal {
    font-size: 3em;
    font-weight: bold;
    margin: 0 0 1em;
}

.titulo-principal span {
    display: block;
}

#formulario {
    width: 40%;
    box-shadow: 0 5px 0 0 rgba(83, 80, 80, 0.3);
    border-radius: 7px;
    margin: 0 auto;
    margin-left: 0;
}

.button-teste {
    background-color: var(--cor-button-teste);
    width: 100%;
    margin: 0 0 1em;
    box-shadow: 0 5px 0 0 rgba(83, 80, 80, 0.3);
    cursor: pointer;
}

.button-teste:hover {
    background-color: rgb(30, 17, 148);
}

.button-teste span {
    font-weight: 500;
    color: #CCCCCC;
}

.button-cadastro {
    display: block;
    background-color: var(--cor-button-cadastro);
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.button-cadastro:hover {
    background-color: hsl(154, 85%, 29%);
}

.button-teste, .button-cadastro {
    font-size: 1em;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 7px;
    padding: 20px 50px;
}

.cadastro {
    width: 100%;
    background-color: #FFFFFF;
    padding: 2em 0 2em;
    border-radius: 7px;
}

.cadastro .content {
    width: 80%;
    margin: 0 auto;
}

.input-padrao {   
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    border: 2px solid #CCCCCC;
}

.input-padrao:focus {
    border: 2px solid black;
    outline: none;
}

.input-padrao-erro {
    border: 2px solid var(--cor-fundo);
    margin-bottom: 0.5em;
    outline-color: var(--cor-fundo);
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
}

.input-padrao-erro::placeholder {
    color: var(--cor-fundo);
    opacity: 1;
}

.input-mensagem-erro,
.input-mensagem-cadastro {
    display: block;
    text-align: right;
    color: var(--cor-fundo);
    right: 0;
    font-size: 10px;
    margin-bottom: 2em;
    font-style: italic;
    font-weight: 600;
}

.input-mensagem-cadastro {
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
}

.termos {
    display: block;
    font-weight: 200;
    color: #a5a4a4;
    font-size: 8px;
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

.termos a {
    color: #d15050;
    font-weight: bold;
    text-decoration: none;
}

.input-padrao::placeholder {
    font-weight: 600;
    font-size: 13px;
}

@media screen and (max-width: 1160px) {

    .titulo-principal {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 962px) {

    .container {
        display: block;
        width: auto;
        margin: 0 1em;
    }

    .sobre {
        width: auto;
        text-align: center;
        margin: 6em 0 4em;
    }

    .sobre p {
        font-weight: 400;
    }

    .titulo-principal {
        font-size: 1.7em;
    }

    #formulario {
        width: auto;
    }
}

@media screen and (max-width: 430px) {

    body {
        background-image: url('../images/bg-intro-mobile.png');
    }

    .button-teste span span {
        display: block;
    }

    .button-teste {
        padding: 20px 20px;
    }

    .button-cadastro {
        padding: 20px 0;
    }

    .termos {
        text-align: center;
    }

    .termos a {
        display: block;
        margin-top: 1em;
    }

    .attribution span {
        display: block;
        margin-top: 1em;
    }
}
